<div class="col-md-6 col-md-offset-3" style="margin-top: 50px;">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Sign up</div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => "col-md-6 form-control" %>
        </div>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, :class => "col-md-6 form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", :class => "col-md-6 form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "col-md-6 form-control" %>
        </div>

        <div class="actions" align="center">
          <%= f.submit "Sign up", :class => "btn btn-default", :style => "margin-top: 10px; margin-bottom: 10px;" %>
        </div>
      <% end %>
      <div align="center">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
